{% extends 'base.html' %}
{% block heading %}
<li class="nav-item active">
    <div class="heading1" style="margin-left:150px; width:450px; background-color:white;" >
    <a class="nav-link" style="color:black"> AGILE METHODOLOGY</a>
  </div>
</li>
{% endblock %}
{% block icon %}
<img src="{{ url_for('static',filename='/images/signup.png') }}" alt="Image" style="width:50px;height:50px; margin-top:-20px" class="img-fluid">

{%endblock%}

{% block login %} 
Logout
{% endblock%}

{% block register %}

{{value1}}

{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/material_style.css') }}">


{% endblock %}

{% block content %}
<div class="wrapper">
  
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>CONTENTS</h3>
        
      </div>
  
      <ul class="list-unstyled components">
        <p>Agile Methodology</p>
        <li >
          <a href="#" data-toggle="collapse" aria-expanded="false">CONTENT1</a>
          <a href="#" data-toggle="collapse" aria-expanded="false">CONTENT2</a>

          <a href="#" data-toggle="collapse" aria-expanded="false">CONTENT3</a>

          <a href="#" data-toggle="collapse" aria-expanded="false">CONTENT4</a>

          <a href="#" data-toggle="collapse" aria-expanded="false">CONTENT5</a>

          <a href="#" data-toggle="collapse" aria-expanded="false">CONTENT6</a>   
        </li>
       
      </ul>
  
     
    </nav>
  
    <!-- Page Content Holder -->
    <div id="content">
            <button type="button" id="sidebarCollapse">
                <img src="{{ url_for('static',filename='images/sidbar.png') }}" alt="Image" style="width:50px;height:50px;">
              
            </button>
     </div>
      

</div>

<div class="content-display">
<div class="header-title">
  Agile methodology definition:

</div>
<div class="section1">


  <div class="cards-list">
  
    <div class="card 1">

      
    
      <div class="card_title title-white">
        <p> Agile methodology is a type of project management process, mainly used for software development, where demands and solutions evolve through the collaborative effort of self-organizing and cross-functional teams and their customers.

          The Agile methodology is a collection of principles that value adaptability and flexibility. Agile  aims to provide better responsiveness to changing business needs and therefore focuses on enabling teams to deliver in workable increments.
          
          Stemming from the values and principles of the Agile Manifesto, it was created as a response to the inadequacies of traditional development methods such as the Waterfall method. The software industry is a highly competitive market due to the fact that software is something that can be continuously updated. This means that developers need to constantly improve and innovate their products to keep on top of the game—and the linear, sequential approach of the Waterfall method just wasn’t</p>
      </div>
    </div>
    
    
    
    </div>
  </div>

</div>



{%endblock%}




{% block script %} 
<script>

$(document).ready(function() {
	$("#sidebarCollapse").on("click", function() {
	  $("#sidebar").toggleClass("active");
	  $(this).toggleClass("active");
	});
  });



</script>

{% endblock %}