{% extends 'base.html' %}
{% block title %}
Home - Page
{% endblock %}

{% block login %}
<li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
</li>
{% endblock%}

{% block register %}
<li class="nav-item">
    <a class="nav-link" href="/register">Register</a>
</li>
{% endblock%}

{% block content %}
<script src="../static/js//bootstrap.min.js">
</script>
<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" />
<div>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img class="w3-image" src="../static//images/learning.jpg" alt="Architecture" width="1500" height="800">
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white"><span
                    class="w3-padding w3-black w3-opacity-min"><b>Education</b></span>
                <span class="w3-hide-small w3-text-light-grey">Camp</span>
            </h1>
        </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">
        <!-- About Section -->
        <div class="w3-container w3-padding-32" id="about">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 text-info h3">About</h3>
            <p>Learning is the source of human progress.

                It has the power to transform our world
                from illness to health,
                from poverty to prosperity,
                from conflict to peace.

                It has the power to transform our lives
                for ourselves,
                for our families,
                for our communities.

                No matter who we are or where we are,
                learning empowers us to change and grow
                and redefine what’s possible.
                That’s why access to the best learning is a right, not a privilege.

            </p>
        </div>
        <a href="/login">
            <h3 style="text-align:center" class="text-success h3">Please Login to see available courses.</h3>
        </a>
    </div>


</div>

{% endblock %}