{% extends 'base.html' %}
{% block title %}
Login - Page
{% endblock %}



{% block register %}
<li class="nav-item">
    <a class="nav-link" href="/register">Register</a>
</li>
{% endblock%}

{% block css %}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static',filename='/fonts/icomoon/style.css') }}">

<link rel="stylesheet" href="{{ url_for('static',filename='/css/owl.carousel.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static',filename='/css/bootstrap.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static',filename='/css/login_style.css') }}">


{% endblock %}


{% block content %}






<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ url_for('static',filename='/images/undraw_remotely_2j6y.svg') }}" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Sign In</h3>
              <p class="mb-4" id="header1">Please Sign in with your name</p>
            </div>
            <form action="#" method="POST">
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text"  required class="form-control" id="username" name="username">

              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input required type="password" class="form-control" id="password" name="password">

              </div>


              <input type="submit"  id="login-submit" value="Log In" class="btn btn-block btn-primary">


              {% if error %}

              <div id="error" class="errorclass">

                {{ error }}

              </div>


              {% endif %}

            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>









{% endblock %}


{%block script%}



<script src="{{ url_for('static',filename='/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='/js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='/js/main.js') }}"></script>


{%endblock%}