<!-- vignesh chages -->
{% extends 'base.html' %}
{% block heading %}
<li class="nav-item active">
  <div class="heading1" style="margin-left:310px; width:450px;">
    <a class="nav-link" style="color:white;"id="title1"> AGILE METHODOLOGY</a>
  </div>
</li>
{% endblock %}
{% block progress %}

  <a class="nav-link" style="color:white;font-size:20px;">Progress:{{progress}}</a>

{% endblock %}

{% block icon %}
<img src="{{ url_for('static',filename='/images/signup.png') }}" alt="Image"
  style="width:50px;height:50px; margin-top:-20px" class="img-fluid">

{%endblock%}


{% block username %}
<li class="nav-item">
  <a class="nav-link">{{username}}</a>
</li>
{% endblock%}


{% block login %}
<li class="nav-item">
  <a class="nav-link" href="/">Logout</a>
</li>
{% endblock%}

{% block css %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/material_style.css') }}">


{% endblock %}

{% block content %}


<div class="content-main">



  



  <form method="POST">
    <div class="section1">

      <div class="container">



        <div class="card text-center my-4">


          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#tab1">Intro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2">Short video</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab3">Defenition</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab4">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab5">Principles 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab6">Principles 2</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab7">Advantages</a>



              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab8">Benefits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab9">Practised</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab10">Comparision</a>
              </li>
            </ul>
          </div>

          <div id="content-main" class="card-body tab-content" style="text-align: justify;">



            <div class="tab-pane fade show active" style="margin-left:20%" id="tab1">

              <img class="img-responsive" src="../static/images/Agile.png" alt="Agile Methodology"
                style="margin-left:-25%;width:400px;height:250px;"> </a>

              <div class="content-text">
                <H3>About This Course</H3>
                <br>
                In this course, you’ll learn
                <li>The key concepts and tools of Agile Development and Agile Project Management.</li>
                <li>How to apply Agile in your job and projects.</li>
                <li>The difference between Agile and traditional project delivery</li>
                <li>About the history of Agile.</li>
                <li>How to use Agile to deliver quickly and often.</li>
                <li>Principles of Agile methodology</li>

              </div>


              <button class="button" style="position: absolute;bottom: 15%;left: 38%;">

                <a href="#tab2" data-toggle="tab"><span style="color:white;width:300px"> {{button}}</span></a>
              </button>




            
            
            
           
            </div>





            <div class="tab-pane fade show " style="margin-left:20%" id="tab2">
              <h4 class="card_title">AGILE</h4>
              <iframe width="650" height="400" src="https://www.youtube.com/embed/fDLuObNgPBM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

              <a href="#tab3" data-toggle="tab" class="btn btn-primary"
                style="right:10%;bottom:10%;position:absolute;">NEXT</a>

              <button type="submit" style="right:18%;bottom:10%;position:absolute;background-color: #027bfe;color:white" id="page1" name="page" value="1">
                <label>Save Progress</label>
              </button>




            </div>

            <div class="tab-pane fade show " id="tab3">
              <h4 class="card_title">Definition </h4>
              <div class="col-7">
                <p class="card-text">

                  Agile methodology is a type of project management process, mainly used for software development,
                  where demands and solutions evolve through the collaborative effort of self-organizing and
                  cross-functional teams and their customers.<br>


                  Agile is a project management approach developed as a more flexible and efficient way to get
                  products to market. The word ‘agile’ refers to the ability to move quickly and easily. Therefore,
                  an
                  Agile approach enables project teams to adapt faster and easier compared to other project
                  methodologies.

                  Many of today’s projects have more unknowns than a traditional project management methodology can
                  adequately handle. This uncertainty makes it challenging to document requirements and adapt to
                  changes successfully.
                  This guide will explain the Agile methodology, which projects will benefit from an Agile approach,
                  and how to implement one effectively.You can run an Agile project using several different
                  frameworks. Some of the more popular ones include:

                <ul class="agile-list;font-weight-bold">
                  <li>Scrum</li>
                  <li>Kanban</li>
                  <li>Extreme Programming</li>
                  <li>DSDM</li>
                </ul>

                </p>
              </div>

              <div class="image1">
                <img class="img-responsive" src="../static/images/agile1.png" alt="Agile Methodology"
                  style="margin-left:67%;margin-top:-48%;width:400px;height:250px;"> </a>
              </div>



              <a href="#tab4" data-toggle="tab" class="btn btn-primary"
                style="right:10%;bottom:10%;position:absolute;">NEXT</a>

              <button type="submit" style="right:18%;bottom:10%;position:absolute;background-color: #027bfe;color:white" id="page2" name="page" value="2">
                <label>Save Progress</label>
              </button>
              <!-- <br> <input type="submit" id="completed" name="completed" value="2">Save progress -->
            </div>

            <div class="tab-pane fade show" id="tab4">
              <h4 class="card_title"> History </h4>

              <p class="card-text">
              <div class="col-8">
                In the 1990s, software development faced a bit of a crisis. Referred to as ‘the application
                development crisis’ or ‘application delivery lag’, the industry realized that it couldn’t move fast
                enough to meet customer demands and requirements—the estimated time between a business need and
                actual application was about three years.<br>
                See, traditional development models were based on a
                timeline approach, where development happened sequentially and the final product wasn’t revealed to
                customers until the very final step.
                <br>
                This left little room for flexibility when it came to progress
                reviews and changes. So, by the time an actual application was finished, it was highly likely that
                requirements and systems of the project’s original objectives had changed.

                With time, money, and efforts wasted, and even some projects cancelled halfway through, professional
                leaders of the software community thought it was time for a new, refreshed approach.
                <br>
                Then in 2001,
                in a snowy, ski lodge in Utah, a group of industry practitioners gathered to discuss industry
                practices. Though the meeting was set up with a primary focus on the discussion of development
                cycles, some participants were already entertaining the idea of a new software development method.
                They all yearned to cement a process that legitimized what was being practised, and so, came the
                creation of the Agile Manifesto.

              </div>
              </p>

              <div class="image1">
                <img class="img-responsive" src="../static/images/agile4.png" alt="Agile Methodology"
                  style="margin-left:70%;margin-top:-40%;width:400px;height:250px;"> </a>
              </div>


              <a href="#tab5" data-toggle="tab" class="btn btn-primary"
                style="right:10%;bottom:10%;position:absolute;">NEXT</a>

              <button type="submit" style="right:18%;bottom:10%;position:absolute;background-color: #027bfe;color:white" id="page3" name="page" value="3">
                <label>Save Progress</label>
              </button>

            </div>
            <div class="tab-pane fade show" id="tab5">
              <h4 class="card_title">Agile Principles</h4>

              <p class="card-text">
              <div class="col-8">
                <ol style="font-size:22px;">

                  <li>Our highest priority is to satisfy the customer through early and continuous delivery of
                    valuable software.</li>

                  <li>Welcome changing requirements, even late in development. Agile processes harness change for
                    the
                    customer's competitive advantage. </li>

                  <li>Deliver working software frequently, from a couple of weeks to a couple of months, with a
                    preference for shorter timescales.</li>

                  <li>Business people and developers must work together daily throughout the project. </li>

                  <li>Build projects around motivated individuals. Give them the environment and support they need
                    and
                    trust them to get the job done.</li>


                  <li>The most efficient and effective method of conveying information to and within a development
                    team is face-to-face conversation. </li>


                </ol>
              </div>
              </p>

              <div class="image2">
                <img class="img-responsive" src="../static/images/agile6.png" alt="Agile Methodology"
                  style="margin-left:67%;margin-top:-40%;width:400px;height:250px;"> </a>
              </div>


              <a href="#tab6" data-toggle="tab" class="btn btn-primary"
                style="right:10%;bottom:10%;position:absolute;">NEXT</a>
              <!-- <br> <input type="submit" name="completed" value="4">Save progress -->

              <button type="submit" style="right:18%;bottom:10%;position:absolute;background-color: #027bfe;color:white" id="page4" name="page" value="4">
                <label>Save Progress</label>
              </button>

            </div>




            <div class="tab-pane fade show" id="tab6">
              <h4 class="card_title" style="font-size: large;">Agile Principles</h4>
              <p class="card-text">
              <div class="col-8">
                <ol start="7" style="font-size:22px;">

                  <li>Working software is the primary measure of progress. </li>
                  <li>Agile processes promote sustainable development. The sponsors, developers, and users should be
                    able to maintain a constant pace indefinitely. </li>
                  <li>Continuous attention to technical excellence and good design enhances agility.</li>
                  <li>Simplicity – the art of maximizing the amount of work not done – is essential.</li>
                  <li>The best architectures, requirements, and designs emerge from self-organizing teams.</li>
                  <li>The team discusses how to become more effective at regular intervals, then tunes and adjusts
                    its
                    behaviour accordingly</li>


                </ol>
              </div>
              </p>

              <div class="image2">
                <img class="img-responsive" src="../static/images/agile6.png" alt="Agile Methodology"
                  style="margin-left:67%;margin-top:-40%;width:400px;height:250px;"> </a>
              </div>

              <a href="#tab7" data-toggle="tab" class="btn btn-primary"
                style="right:10%;bottom:10%;position:absolute;">NEXT</a>
              <button type="submit" style="right:18%;bottom:10%;position:absolute;background-color: #027bfe;color:white" id="page5" name="page" value="5">
                <label>Save Progress</label>
              </button>

            </div>


            <div class="tab-pane fade show" id="tab7">

              <h4 class="card_title">Advantages of Agile Project Management</h4>
              <div class="col-5">
                <p class="card-text">

                  <li>Any project that evolves or does not have clear scope and requirements at the start </li>
                  <li>Organizations that work in a fast-changing environment, such as technology
                  </li>
                  <li>Organizations that need to work closely with their customers and other external parties
                    throughout the life of the project
                  </li>
                  <li> Companies that emphasize process and product improvement and are constantly looking to
                    innovate
                  </li>
                  <li>Projects with many interdependent tasks, where the team needs to work closely and frequently
                    communicate to ensure success
                  </li>
                  <li>Companies that need to create a prototype before building the final project outcome </li>

                  <li>Projects that require rapid feedback from stakeholders about each product iteration before
                    moving on to the next version or draft</li>

              </div>
              </p>

              <div class="image2">
                <img class="img-responsive" src="../static/images/advantage.png" alt="Agile Methodology"
                  style="margin-left:63%;margin-top:-40%;width:400px;height:250px;"> </a>
              </div>


              <a href="#tab8" data-toggle="tab" class="btn btn-primary"
                style="right:10%;bottom:10%;position:absolute;">NEXT</a>

              <button type="submit" style="right:18%;bottom:10%;position:absolute;background-color: #027bfe;color:white" id="page6" name="page" value="6">
                <label>Save Progress</label>
              </button>
            </div>


            <div class="tab-pane fade show" id="tab8">
              <h4 class="card_title">Benefits of Agile methodologies</h4>

              <p class="card-text">
              <div class="col-4">
                <h3> Benefits: </h3>
                <li>Continuous Customer Contact</li>
                <li>Ability to Adapt</li>
                <li>Faster Delivery</li>
                <li>Lower Project Risk</li>
                <li>Ongoing Innovation</li>
                <li>Superior quality product</li>
                <li>Customer satisfaction</li>
                <li>Better control</li>
                <li>Improved project predictability</li>
                <li> Continuous improvement</li>
                <li>Improved team morale.</li>

              </div>

              </p>



              <a href="#tab9" data-toggle="tab" class="btn btn-primary"
                style="right:10%;bottom:10%;position:absolute;">NEXT</a>
              <button type="submit" style="right:18%;bottom:10%;position:absolute;background-color: #027bfe;color:white" id="page7" name="page" value="7">
                <label>Save Progress</label>
              </button>

            </div>



            <div class="tab-pane fade show" id="tab9">
              <h4 class="card_title">Bad practices</h4>

              <div class="col-7">
                <p class="card-text">There are certain scenarios whre Agile could prove to be costly or not
                  effective.
                  The scenarios are listed below:
                  <li>The outcome of your project is stable and well understood</li>
                  <li>Stakeholders don't want Agile</li>
                  <li>Company can't support Agile</li>
                </p>
              </div>

              <a href="#tab10" data-toggle="tab" class="btn btn-primary"
                style="right:10%;bottom:10%;position:absolute;">NEXT</a>

              <button type="submit" style="right:18%;bottom:10%;position:absolute;background-color: #027bfe;color:white" id="page8" name="page" value="8">
                <label>Save Progress</label>
              </button>


            </div>






            <div class="tab-pane fade show" id="tab10">
              <h4 class="card_title">Agile v/s Waterfall</h4>
              <div class="col-8">
                <p class="card-text">
                  <li>Agile methodology project management and Waterfall project management are two of the more
                    popular methods for organizing projects. When determining how to plan and run your next project,
                    you’ll likely start by comparing Agile and Waterfall project management to determine which is
                    more
                    suitable.

                  </li>
                  <li> Waterfall is a more traditional approach to project management, involving a linear project
                    flow. It’s best for clearly defined projects with definitive timelines and well-defined
                    deliverables from the outset. In other words, if your major project constraints are well
                    understood and documented, Waterfall is likely your best option. </li>

                  <li>Core principles of Waterfall:
                    <ol class="agile-list1" style="list-style-type:lower-roman; text-align: justify;">
                      <b>
                        <li>Gathering all requirements upfront</li>
                        <li> Completing all work in structured, sequential, pre-defined phases </li>
                    </ol>
                  </li>
                  </b>
                  <li>Conversely, Agile was created to handle projects where the primary constraints are not well
                    understood.</li>
                  <li>As discussed earlier, Agile is an iterative, flexible approach to projects. This method splits
                    a
                    project into stages or “sprints,” allowing it to mature and evolve as you gain more information.
                  </li>

                  <li>When deciding between Waterfall project management and Agile, it should ultimately come down
                    to
                    your end product’s maturity and how well you understand the project’s outcomes and requirements
                    in
                    the initiation phase.</li>

              </div>

              </p>

              <div class="image2">
                <img class="img-responsive" src="../static/images/agile7.png" alt="Agile Methodology"
                  style="margin-left:70%;margin-top:-40%;width:400px;height:250px;"> </a>
              </div>

              <button type="submit" style="right:18%;bottom:10%;position:absolute;background-color: #027bfe;color:white" id="page9" name="page" value="9">
                <label>Save Progress</label>
              </button>

              <a href="/questions/{{username}}" class="btn btn-primary" id="quiz"
                style="right:10%;bottom:10%;position:absolute;">Take Quiz</a>


            </div>



          </div>
          

        </div>

      </div>

    </div>

  </form>

</div>

</div>



{%endblock%}




{% block script %}


<script>

  $(document).ready(function () {
    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });







</script>




<script src="{{ url_for('static',filename='/js/bootstrap.min.js') }}"></script>

<script scr="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css.map"></script>


{% endblock %}