<!-- vignesh chages -->
{% extends 'base.html' %}
{% block heading %}
<li class="nav-item active">
  <div class="heading1" style="margin-left:150px; width:450px;">
    <a class="nav-link" style="color:white;"> AGILE METHODOLOGY</a>
  </div>
</li>
{% endblock %}
{% block icon %}
<img src="{{ url_for('static',filename='/images/signup.png') }}" alt="Image"
  style="width:50px;height:50px; margin-top:-20px" class="img-fluid">

{%endblock%}

{% block login %}
Logout
{% endblock%}

{% block register %}

{{username}}

{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/material_style.css') }}">


{% endblock %}

{% block content %}


<div class="wrapper">

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>CONTENTS</h3>

    </div>

    <ul class="list-unstyled components">
      <p>Agile Methodology</p>

      <li> <a href="#tab1" id="nav1" data-toggle="tab">What is Agile?</a> </li>

      <li> <a href="#tab2" id="nav2"" data-toggle="tab">Definition</a> </li>

      <li><a href="#tab3" id="nav3" data-toggle="tab">History</a> </li>

      <li> <a href="#tab4" id="nav4" data-toggle="tab">Agile Principles</a> </li>

      <li><a href="#tab5" id="nav5" data-toggle="tab">Agile Principles Continued</a> </li>

      <li> <a href="#tab6" id="nav6" data-toggle="tab">Advantages of Agile Project Management</a> </li>

      <li> <a href="#tab7" id="nav7" data-toggle="tab">Benefits of Agile Methodology</a> </li>


      <li><a href="/questions/{{username}}">QUIZ</a> </li>




    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <button type="button" id="sidebarCollapse">
      <img src="{{ url_for('static',filename='images/sidbar.png') }}" alt="Image" style="width:50px;height:50px;">

    </button>
  </div>


</div>

<div class="content-display">
  <div class="header-title">
    Agile Methodolgy

  </div>


  <form method="POST">
    <div class="section1">

      <div class="container">


        <div class="row">
          <div class="col-lg-12">
            <div class="card text-center my-4">

              <div class="card-body tab-content">

                <div class="tab-pane fade show active" id="tab1">
                  <h4 class="card-title">AGILE</h4>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/fDLuObNgPBM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                  <a href="#tab2" data-toggle="tab" class="btn btn-primary">NEXT</a>
                  <br> <input type="submit" name="completed" value="1">Save progress
                </div>

                <div class="tab-pane fade show " id="tab2">
                  <h4 class="card-title">Definition </h4>
                  <p class="card-text">

                    Agile methodology is a type of project management process, mainly used for software development,
                    where demands and solutions evolve through the collaborative effort of self-organizing and
                    cross-functional teams and their customers.<br>


                    Agile is a project management approach developed as a more flexible and efficient way to get products to market. The word ‘agile’ refers to the ability to move quickly and easily. Therefore, an Agile approach enables project teams to adapt faster and easier compared to other project methodologies. 

                    Many of today’s projects have more unknowns than a traditional project management methodology can adequately handle. This uncertainty makes it challenging to document requirements and adapt to changes successfully. 
                    This guide will explain the Agile methodology, which projects will benefit from an Agile approach, and how to implement one effectively.You can run an Agile project using several different frameworks. Some of the more popular ones include:
                    <ul class="agile-list">
                      <li>Scrum</li>
                      <li>Kanban</li>
                      <li>Extreme Programming</li>
                      <li>DSDM</li>
                    </ul> 

                  </p>
                  <a href="#tab3" data-toggle="tab" class="btn btn-primary">NEXT</a>
                  <br> <input type="submit" id="completed" name="completed" value="2">Save progress
                </div>

                <div class="tab-pane fade" id="tab3">
                  <h4 class="card-title"> History </h4>
                  <p class="card-text">
                    In the 1990s, software development faced a bit of a crisis. Referred to as ‘the application
                    development crisis’ or ‘application delivery lag’, the industry realized that it couldn’t move fast
                    enough to meet customer demands and requirements—the estimated time between a business need and
                    actual application was about three years. See, traditional development models were based on a
                    timeline approach, where development happened sequentially and the final product wasn’t revealed to
                    customers until the very final step. This left little room for flexibility when it came to progress
                    reviews and changes. So, by the time an actual application was finished, it was highly likely that
                    requirements and systems of the project’s original objectives had changed.

                    With time, money, and efforts wasted, and even some projects cancelled halfway through, professional
                    leaders of the software community thought it was time for a new, refreshed approach. Then in 2001,
                    in a snowy, ski lodge in Utah, a group of industry practitioners gathered to discuss industry
                    practices. Though the meeting was set up with a primary focus on the discussion of development
                    cycles, some participants were already entertaining the idea of a new software development method.
                    They all yearned to cement a process that legitimized what was being practised, and so, came the
                    creation of the Agile Manifesto.</p>
                  <a href="#tab4" data-toggle="tab" class="btn btn-primary">NEXT</a>
                  <br> <input type="submit" name="completed" value="3">Save progress

                </div>
                <div class="tab-pane fade" id="tab4">
                  <h4 class="card-title">Agile Principles</h4>
                  <p class="card-text">
                    <ul class="agile-list">

                      <li>Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</li>

                      <li>Welcome changing requirements, even late in development. Agile processes harness change for the customer's competitive advantage. </li>

                      <li>Deliver working software frequently, from a couple of weeks to a couple of months, with a preference for shorter timescales.</li>

                      <li>Business people and developers must work together daily throughout the project. </li>

                      <li>Build projects around motivated individuals. Give them the environment and support they need and trust them to get the job done.</li>


                      <li>The most efficient and effective method of conveying information to and within a development team is face-to-face conversation. </li>
                    </ul>
                  </p>
                  <a href="#tab5" data-toggle="tab" class="btn btn-primary">NEXT</a>
                  <br> <input type="submit" name="completed" value="4">Save progress

                </div>




                <div class="tab-pane fade" id="tab5">
                  <h4 class="card-title">Agile Principles Continued</h4>
                  <p class="card-text">
                    <ul class="agile-list">

                        <li>Working software is the primary measure of progress. </li>
                        <li>Agile processes promote sustainable development. The sponsors, developers, and users should be able to maintain a constant pace indefinitely. </li>
                        <li>Continuous attention to technical excellence and good design enhances agility.</li>
                        <li>Simplicity – the art of maximizing the amount of work not done – is essential.</li>
                        <li>The best architectures, requirements, and designs emerge from self-organizing teams.</li>
                        <li>The team discusses how to become more effective at regular intervals, then tunes and adjusts its behaviour accordingly</li>


                    </ul>
                  </p>
                  <a href="#tab6" data-toggle="tab" class="btn btn-primary">NEXT</a>
                  <br> <input type="submit" name="completed" value="5">Save progress

                </div>


                <div class="tab-pane fade" id="tab6">
                  <h4 class="card-title">Advantages of Agile Project Management</h4>
                  <p class="card-text">
                    <li>Any project that evolves or does not have clear scope and requirements at the start </li>
                    <li>Organizations that work in a fast-changing environment, such as technology 
                    </li>
                    <li>Organizations that need to work closely with their customers and other external parties throughout the life of the project
                    </li>
                    <li> Companies that emphasize process and product improvement and are constantly looking to innovate</li>
                    <li>Projects with many interdependent tasks, where the team needs to work closely and frequently communicate to ensure success 
                    </li>
                    <li>Companies that need to create a prototype before building the final project outcome </li>

                    <li>Projects that require rapid feedback from stakeholders about each product iteration before moving on to the next version or draft</li>
                  </p>
                  <!-- <a href="#tab7" data-toggle="tab" class="btn btn-primary">NEXT</a>
                  <br> <input type="radio" name="completed" value="6"> Mark as Completed -->
                  <a href="#tab7" data-toggle="tab" class="btn btn-primary">NEXT</a>
                </div>


                <div class="tab-pane fade" id="tab7">
                  <h4 class="card-title">Benefits of Agile methodologies</h4>
                  <p class="card-text">Benefits:
                    <li>Continuous Customer Contact</li>
                    <li>Ability to Adapt</li>
                    <li>Faster Delivery</li>
                    <li>Lower Project Risk</li>
                    <li>Ongoing Innovation</li>
                    
                  </p>
                  <a href="#tab7" data-toggle="tab" class="btn btn-primary">NEXT</a>
                  <br> <input type="radio" name="completed" value="6"> Mark as Completed

                  <a href="/questions/{{username}}" class="btn btn-primary">Take Quiz</a>

                </div>



              </div>
              <!--/.card-body -->

              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#tab1">1</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab2">2</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab3">3</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab4">4</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab5">5</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab6">6</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab7">7</a>
                  </li>
                </ul>
              </div>
            </div>
            <!--/.card-->
          </div>


        </div>

      </div>

    </div>

  </form>

</div>

{%endblock%}




{% block script %}


<script>

  $(document).ready(function () {
    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });






</script>

<script src="{{ url_for('static',filename='/js/bootstrap.min.js') }}"></script>


{% endblock %}