{% extends 'base.html' %}
{% block title %}
Register - Page
{% endblock %}




{% block css %}

<link rel="stylesheet"
    href="{{ url_for('static',filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='/css/register_style.css') }}">



{% endblock %}

{% block login %}
<li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
</li>
{% endblock%}

{% block content %}



<div class="main">

    <section class="signup">

        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form">
                    <h2 class="form-title">Create account</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="newusername" id="name" placeholder="Your Name"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"
                            required />
                    </div>
                    <div class="form-group">
                        <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                            class="form-input" name="newpassword" id="password" placeholder="Password" required />
                    </div>
                    <div class="form-group">
                        <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                            class="form-input" name="re_password" id="re_password" placeholder="Repeat your password"
                            required />
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
                    </div>
                </form>

                {% if error %}

                <div class="errorclass" id="error">

                    <li>{{ error }}</li>

                </div>


                {% endif %}
                <p class="loginhere">
                    Have already an account ? <a href="/login" class="loginhere-link">Login here</a>
                </p>


               

                
            </div>
        </div>
    </section>

</div>






{% endblock %}

{% block script %}

<script src="{{ url_for('static',filename='/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>

{% endblock %}